@import "../scss/variables";

.index-container {
  width: 320px;
  margin: 40px auto;
  background-color: $color-cornflower;
  border-radius: 3px;
  overflow: hidden;
  padding: 18px;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;

  &:hover {
    cursor: pointer;
    opacity: 0.3;
  }
}
