@import "../../scss/variables";

.new-article {

  &__form {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: $color-white;
    position: relative;
    padding: 10px;
    margin-bottom: 22px;
    font-size: 14px;
    position: relative;
  }

  &__add-article {
    margin-top: 6px;
    color: $color-white;
    cursor: pointer;

    &:hover {
      opacity: 0.4;
    }
  }

  &__back-button {
    position: absolute;
    top: 12px;
    cursor: pointer;
    border-radius: 50%;
    right: 10px;
  }
}